@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-muted;
  }
  body {
    @apply bg-body text-textPrimary antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

